In [1]:
#task1 create unique student id for 40 students
import numpy as np
import pandas as pd
studid=pd.Series(np.arange(1001,1041))
studid

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
dtype: int32

In [3]:
#task2 create series for maths & physics with student id as index
maths_marks=[35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks=[85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]
math_series=pd.Series(maths_marks, index=studid)
phy_series=pd.Series(physics_marks, index=studid)
print(math_series)
print(phy_series)

1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
dtype: int64
1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
dtype: int64

In [5]:
#task3 create series of total marks from maths & physics with student id as index
total_series=pd.Series(math_series+phy_series, index=studid)
print('Series with student id & total score from math & physics:')
print(total_series)

Series with student id & total score from math & physics:
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [7]:
#task4 students with total marks above 120
print('Students qualified for round1:')
round1=total_series[total_series>=120]
print(round1.index)

Students qualified for round1:
Index([1001, 1002, 1003, 1004, 1005, 1006, 1008, 1010, 1011, 1012, 1014, 1015,
       1017, 1022, 1024, 1025, 1028, 1029, 1030, 1031, 1033, 1034, 1035, 1036,
       1037, 1038, 1039, 1040],
      dtype='int32')

In [9]:
#task5 create data frame to store round 1 qualifiers
dict1={'Round1 qualifiers':round1.index}
df_round1=pd.DataFrame(dict1)
df_round1

    Round1 qualifiers
0                1001
1                1002
2                1003
3                1004
4                1005
5                1006
6                1008
7                1010
8                1011
9                1012
10               1014
11               1015
12               1017
13               1022
14               1024
15               1025
16               1028
17               1029
18               1030
19               1031
20               1033
21               1034
22               1035
23               1036
24               1037
25               1038
26               1039
27               1040

In [11]:
#extra: to store all details in a data frame
dictn={'Maths':math_series.values,'Physics':phy_series.values,'Total':total_series.values}
student_info=pd.DataFrame(dictn,index=studid)
student_info

      Maths  Physics  Total
1001     35       85    120
1002     86       94    180
1003     63       63    126
1004     90       59    149
1005     50       76    126
1006     63       64    127
1007     15       87    102
1008     72       55    127
1009     15       51     66
1010     54       71    125
1011     72       54    126
1012     83       94    177
1013     58       33     91
1014     70       72    142
1015     92       75    167
1016     40       67    107
1017     59       85    144
1018     63       15     78
1019     53       50    103
1020     59       50    109
1021     55       19     74
1022     85       55    140
1023     18       59     77
1024     83       65    148
1025     67       76    143
1026     85       13     98
1027     46       57    103
1028     59       70    129
1029     77       51    128
1030     71       94    165
1031     77       55    132
1032     56       50    106
1033     79       71    150
1034     61       91    152
1035     82       75    157
1036     76       51    127
1037     60       90    150
1038     52       70    122
1039     88       87    175
1040     78       56    134

In [13]:
#task6 create data frame to store round 2 qualifiers
filter_data=student_info[(student_info.Maths>=50)&(student_info.Physics>=50)&(student_info.Total>=120)]
filter_data.index
df_round2=pd.DataFrame(filter_data.index,columns=['Round2 qualifiers'])
df_round2

    Round2 qualifiers
0                1002
1                1003
2                1004
3                1005
4                1006
5                1008
6                1010
7                1011
8                1012
9                1014
10               1015
11               1017
12               1022
13               1024
14               1025
15               1028
16               1029
17               1030
18               1031
19               1033
20               1034
21               1035
22               1036
23               1037
24               1038
25               1039
26               1040

In [15]:
#task7 count of students who qualify round 2
print('The number of students who qualify for round 2:',df_round2.size)

The number of students who qualify for round 2: 27